asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.3.0
chess==1.10.0
colorama==0.4.6
Django==4.2.6
idna==3.4
importlib==1.0.4
iniconfig==2.0.0
jplephem==2.19
numpy==1.26.1
packaging==23.2
Pillow==10.1.0
pluggy==1.3.0
pygame==2.5.2
pygame-ce==2.3.2
pygame-gui==0.6.9
pypng==0.20220715.0
pyserial==3.5
pytest==7.4.3
python-i18n==0.3.9
qrcode==7.4.2
requests==2.31.0
sgp4==2.22
skyfield==1.46
sqlparse==0.4.4
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.0.6
